.App {
  text-align: center;
  background-color: aqua;
  height: 100vh;
}

.calculator {
  margin: 0 auto;
  padding: 0 auto;
  width: 400px;
  height: 550px;
  border: 6px solid blue;
}

.display {
  width: 100%;
  height: 60px;
  background-color: bisque;
  text-align: right;
}

.buttons {
  width: 100%;
  height: 490px;
  background-color: yellowgreen;
}


button {
  width: 102px;
  height: 90px;
}

#clear {
  float: left;
  width: 196px;
}

#divide {
  float: left;
}

#multiply {
  float: right;
}

#subtract {
  float: right;
}

#add {
  float: right;
  position: absolute;
  top: 255px;
}

#equals {
  float: right;
  height: 196px;
  position: relative;
  top: 178px;
  right: -102px;
}